<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap 101 Template</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <nav>
      <div class="blue_box">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <img class="logo" src="images/logo-surf-and-paddle.svg" alt="Logo to use" />
              <span class="logo-text">SURF AND PADDLE CO. BLOG</span>
            </div>
            <div class="col-sm-6 text-right">
              <ul>
                <li>ABOUT</li>
                <li>SEARCH</li>
                <li><img class="icon" src="images/icon-search.png" alt="Search icon" /></li>
              </ul>
            </div>
            <div class="text-center">
              <h1 class="surf-text">SURF & PADDLE CO.</h1>
            </div>
            <div class="text-center">
              <h2 class="ironyard-text">An Ironyard Academy Project Est. Fall 2013</h2>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <main>
      <div class="main_box">
        <div class="container">
          <div class="row">
            <div class="col-md-9 text-center">
              <h1 class="headline-text"><%= @headline_text %></h1>
              <div class="text-left">
                <ul>
                  <li><img src="http://3.bp.blogspot.com/-j2iSVXJfHmU/UG0MTCpg10I/AAAAAAAAATg/0N5SP5g2Wls/s1600/headless_horseman_by_nocte_angelus-d4rp5ob.jpg"  class="headless img-circle" alt="Ohhhh ya, do the dew" /></li>
                  <li id="name">Anne Marie</li>
                  <li id="on">on</li>
                  <li id="date">Monday Oct. 7th 9:22pm</li>
                </ul>
              </div>
                <div class="fp">
                  <p id="first-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce sem justo, tempor a consequat sit amet, sodales vitae est. Nunc accumsan diam dictum sapien varius sollicitudin. Suspendisse ac elit aliquam, tristique massa ac, mollis quam. Proin sagittis eleifend neque a iaculis. Aliquam luctus augue eros, in hendrerit enim fermentum quis. Morbi vehicula accumsan magna sed malesuada. Vestibulum aliquet magna nec eros vehicula hendrerit. Sed eget auctor elit, et dignissim neque. Sed tempus tincidunt tellus, eget ullamcorper lectus. In id libero quis risus posuere posuere.</p>
                </div>
              <div class="text-left imp-title">
                <h2>WOAH, THAT'S RADICAL</h2>
              </div>
              <div class="sp">
                <p id="second-paragraph">Bacon ipsum dolor amet venison shoulder beef ribs turducken, swine corned beef drumstick prosciutto doner beef kielbasa. Biltong chuck capicola bresaola. Pig picanha prosciutto ribeye kielbasa shankle bresaola turducken jowl t-bone beef ribs. Pig chicken bacon shankle strip steak. Sausage porchetta doner ground round, ball tip alcatra pig brisket short ribs kielbasa cupim turkey shank.</p>
                <p>Spare ribs frankfurter ribeye meatloaf pork jowl ball tip swine cow capicola salami filet mignon pancetta. Short loin prosciutto boudin picanha ball tip. Venison fatback bacon, cupim jowl strip steak chuck short loin meatball spare ribs cow landjaeger chicken. Meatloaf t-bone pancetta, beef ribs hamburger pork chop kevin tongue beef chuck shoulder corned beef boudin shankle. Chicken biltong pastrami prosciutto jowl, ground round chuck venison turkey filet mignon salami ham alcatra pork loin rump. Doner boudin shankle, fatback sausage t-bone swine pork belly frankfurter pastrami ribeye prosciutto ham hock strip steak. Ribeye pork loin capicola frankfurter flank filet mignon ground round pig chuck swine cupim.</p>
              </div>
              <div class="text-left choices">
                <a href="#"><span class="glyphicon glyphicon-comment"></span>Read Comments</a>
                <a href="#"><span id="second" class="glyphicon glyphicon-cloud-upload"></span>Read Later</a>
                <a href="#"><span id="third" class="glyphicon glyphicon-share"></span>Share This Post</a>
              </div>

            </div>

            <div class="col-md-3">
              <img id="headless2" src="http://3.bp.blogspot.com/-j2iSVXJfHmU/UG0MTCpg10I/AAAAAAAAATg/0N5SP5g2Wls/s1600/headless_horseman_by_nocte_angelus-d4rp5ob.jpg"  class="headless2 img-circle" alt="Ohhhh ya, do the dew times two" />
              <h4 class="name2 text-center">Anne Marie</h4>
              <ul class="links">
                <a href="#"><li id="twitter">Twitter</li></a>
                <a href="#"><li id="facebook">Facebook</li></a>
                <a href="#"><li id="instagram">Instagram</li></a>
              </ul>
              <img src="https://images.unsplash.com/photo-1453106037972-08fbfe790762?crop=entropy&dpr=2&fit=crop&fm=jpg&h=850&ixjsv=2.1.0&ixlib=rb-0.3.5&q=50&w=1450" class="evil_ad" alt="Oymninis" />
              <h6 class="about_ad text-right">About This Ad</h6>
              <h5 id="sidebar">SIDEBAR SELECTION HEADING</h5>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
          </div>
        </div>
      </div>
    </main>
    <div class="post-title">
      <div class="container">
        <div class="row text-center">
            <h1 id="popular">MOST POPULAR POSTS</h1>
        </div>
      </div>
    </div>
    <section class="image-links">
      <div class="image1">
        <a href="#">DIEING TO GET IN</a>
      </div>
      <div class="image2">
        <a href="#">PLACE TO LIVE FOR</a>
      </div>
      <div class="image3">
        <a href="#">SOME TEXT HERE</a>
      </div>
      <div class="image4">
        <a href="#">MORE TEXT HERE</a>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="row">
          <div class="finish-logo col-md-6">
            <img class="iron" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/47/s300/the-iron-yard-logo.png" alt="yard" />
            <span class="finish">The Ironyard Copyright 2013, All Rights Reserved</span>
          </div>
          <div class="col-md-6">
            <ul class="closing_links text-right">
              <li><a href="#">Nav Item 1</a></li>
              <li><a href="#">Nav Item 2</a></li>
              <li><a href="#">Nav Item 3</a></li>
              <li><a href="#">Nav Item 4</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  </body>
</html>

<!-- <div class="read-comments">
  <img src="http://iconshow.me/media/images/ui/ios7-icons/png/512/chatbubble-outline.png" alt="read-comments" />
</div>
<div class="share-post">
  <img src="http://png-2.findicons.com/files/icons/2315/default_icon/256/open_in_new_window_inv.png" alt="share-post" />
</div> Leaving these in for a better way to make the options for read-comments, etc.-->
